* {
    overflow: hidden;
}



.CardContainer {
    overflow: visible;
    width: 100vw;
    height: 100vh;
}

.CallingCard {
    background-image: url("Assets/CallingCardBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;

    width: 550px;
    height: 320px;

    
   
    /*Misc*/
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    

    /*Animation Effects*/
    animation-name: spinTheCard;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.32,.88,.49,1.39);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.Logo {
    overflow: visible;
    position: absolute;
    top: 35px;

    
    width: 250px;
    height: 150px;

}

.Logo:hover {
    animation-name: beat;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}


.dagger {
    
    position: absolute;
    
    overflow: visible;
    width: 480px;
    height: 480px;


    pointer-events: none;
    

    /*Animation Effects*/
    animation-name: daggerThrowRight;
    animation-duration: 2.41s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@media (max-width: 750px) {
    .dagger {
        animation-name: daggerThrowTop;
    }
}

@media (max-width: 500px) {
    .CallingCard, .dagger {
        transform: scale(.4);
    }
}


@keyframes spinTheCard {
    from {
        transform: scale(5) rotate(-1700deg);
        box-shadow: 0;
    }

    to {
        transform: scale(1) rotate(8deg);
        box-shadow: 4px 4px rgb(14, 13, 13);
    }
}

@keyframes daggerThrowRight {
    0% {
        transform: translate(280%, -250%);
    }

    85% {
        transform: translate(280%, -250%);
    }

    88% {
        transform: translate(40%, -15%) rotate(-.8deg);
    }

    93% {
        transform: translate(40%, -15%) rotate(.8deg);
    }

    95% {
        transform: translate(40%, -15%) rotate(-.8deg);
    }
    98% {
        transform: translate(40%, -15%) rotate(.8deg);
    }

    100% {
        transform: translate(40%, -15%) rotate(-.8deg);
    }
}

@keyframes daggerThrowTop {
    0% {
        transform: translate(280%, -250%);
    }

    85% {
        transform: translate(280%, -250%);
    }

    88% {
        transform: translate(0%, -30%) rotate(-.8deg);
    }

    93% {
        transform: translate(0%, -30%) rotate(.8deg);
    }

    95% {
        transform: translate(0%, -30%) rotate(-.8deg);
    }
    98% {
        transform: translate(0%, -30%) rotate(.8deg);
    }

    100% {
        transform: translate(0%, -30%) rotate(-.8deg);
    }
}


@keyframes beat {
    0%, 50%, 100% { transform: scale(1, 1) ; }
    30%, 80% { transform: scale(0.95, 0.95) ; }
  }

